/* index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #e53939;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000000;
    color: white;
}

#foto-pessoal {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-top: 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h1,
h2 {
    font-weight: normal;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Media Queries para Responsividade */

/* Dispositivos pequenos (telefones) */
@media (max-width: 600px) {

    header,
    footer {
        padding: 10px;
    }

    #foto-pessoal {
        width: 100px;
        height: 100px;
    }

    section {
        width: 95%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
    }
}

/* Dispositivos médios (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {

    header,
    footer {
        padding: 15px;
    }

    #foto-pessoal {
        width: 120px;
        height: 120px;
    }

    section {
        width: 90%;
        padding: 20px;
    }

    nav ul {
        flex-direction: row;
    }
}

/* Dispositivos grandes (desktops) */
@media (min-width: 1025px) {

    header,
    footer {
        padding: 20px;
    }

    #foto-pessoal {
        width: 150px;
        height: 150px;
    }

    section {
        width: 80%;
        padding: 20px;
    }

    nav ul {
        flex-direction: row;
    }
}